[2015-04-27 21:50] netj opened #2 "Repo needs a real name"
We need an actual name for our compiler. The current name `datalog` is to generic.  We should probably come up with candidate names in this thread, and rename the github repo once we reach consensus, then transfer to @HazyResearch.

Here are a few of mine:
* deepdivelog
* ddlog
* mindlog

@feiranwang @SenWu @chrismre, Please add your candidates or votes as comments!

[2015-04-27 23:30] chrismre commented on #2
I think we should call it ddlog and just leave it at that? I'm happy with anyname :)

[2015-05-19 16:20] chrismre opened #5 "Directory structure cleanup?"
@SenWu  @netj It may be worth cleaning up the directory structure a bit (src director for one).

Also, the examples directory should mirror the DD site so that it's easy to find ddlog "ports" of each example.

[2015-05-19 20:26] netj commented on #5
Sounds good.  We just wanted to start from a very simple structure.  It's a good time to switch.  I was wondering if we should do the example ports here or in DD, but let's do it here for now.

[2015-05-20 03:53] #2 closed

[2015-05-25 13:09] netj opened #9 "Why is dd_count in derived incremental ddlog schema?"
Shouldn't dd_count column exist only in the SQL schema?  The current delta rule deriver adds the column in inconsistent ways: schema has it, but the rules don't.

[2015-05-25 13:20] netj opened #10 "Port Examples from DeepDive"
The [examples directory](https://github.com/HazyResearch/ddlog/tree/master/examples) should mirror the [DD repo](https://github.com/HazyResearch/deepdive/tree/develop/examples) so that it's easy to find ddlog "ports" of each example.

Each example can be also set up as an end-to-end test: just run deepdive over the application.conf, and verify the result if there's a reasonable way.

* [x] [spouse

[2015-05-25 13:20] netj commented on #10
@feiranwang Can you help me on this?

[2015-05-25 15:32] chrismre commented on #10
We should probably remove those hard-coded paths...

[2015-05-25 22:09] senwu commented on #9
Good point. Current way is a little bit confusing. We can inline dd_count in DDlog level (including schema, rules), and handle dd_count in complier if it is in incremental mode. This will be consistent in schema and rules, buy this schema is inconsistent with real schema in db. Do you think this is a better solution?

[2015-05-26 05:00] netj commented on #9
Well, it's not just a matter of confusing or not: currrently incorrect incremental code is produced.  I don't think we need to keep ddlog relation schema identical to the database table schema in general. (For variable tables, we're adding the id columns at compile time, right?  So we may add any extra columns for our bookkeeping.)  However, if you think exposing dd_count columns and the arithmeti

[2015-06-09 21:34] #9 closed

[2015-07-01 13:44] chrismre commented on #10
@feiranwang @netj Feiran, can you finish this task?

[2015-07-07 00:41] zhangce opened #15 "schema and rule type checking"
It seems that the following program should throw an error (Because schema and rule does not match), but it finishes with
        Ces-MacBook-Pro:examples czhang$ java -jar ../ddlog.jar compile paleo.ddl
        [error] 0
and outputs nothing.

Delete everything after "function ext_people over like ext_people_input" gives right output.

[code]

[2015-07-07 00:46] zhangce opened #16 "udf paths need clarification: relative? absolute?"
I am little confused by the syntax:

  implementation "/udf/ext_people.py" handles tsv lines.

I was first thinking this is absolute path, then Feiran correct me that it seems we are assuming thinks like $HOME/udf/ext_people.py

@netj What do you think? This is not a big issue, it just surprised me at the first place. Let me know if you think this needs some refinement on syntax and we can update

[2015-07-07 01:01] netj commented on #16
We should use relative paths to the ddlog program, e.g., `"udf/ext_people.py"`, unless an actual absolute path is intended (not sure why some would ever do that though).  This path mess originates from DeepDive's application.conf, which is undergoing a cleanup.  For the moment the compiler can prepend `${APP_HOME}/` to relative paths I think, then remove it completely when DeepDive is fixed to dea

[2015-07-07 01:03] zhangce opened #17 "syntax revision: function call"
Currently it seems that we are using ! as the notation before executing
an UDF. ! in MLN is for negation, so for users familiar with MLN, our current
use of ! could be really confusing... @netj Should we change it to a less
confusing symbol?

entity_formation_candidate :- !ext_entity_formation_local(sentences).

[2015-07-07 01:05] zhangce opened #18 "user's id column collides with compiled schema"
When the user species an `id` column in his schema in ddlog, system does not throw error.
But this will crush DD later when calling PIPELINE=initdb

e.g.,
entity_formation_candidate (id bigint, docid text, type text, eid text, entity text, prov text[]).

20:04:32 [taskManager] ERROR task=extraction_rule_6 Failed: org.postgresql.util.PSQLException: ERROR: column "id" specified more than once
20:04:

[2015-07-07 01:20] zhangce opened #19 "really minor"
This issue contains a collection of really minor things.

   - should we also have a pipeline for `cleardb` and `end-to-end` (run extraction then inference?)

[2015-07-07 01:41] netj commented on #15
I made sure the parse errors are reported pretty friendly.  However, it seems the compilation errors aren't.

I think we should add a checker that runs on the program to be compiled before actually compiling it.  It might be better to create multiple small checkers each of which checks a simple thing rather than a huge convoluted checker.  @feiranwang Can you take a stab at creating a checker clas

[2015-07-07 01:48] netj commented on #17
Yes, I agree we should revise the syntax to be less confusing.  I actually have a list of changes to make, but it seems like I should put them up as issues here on GitHub.

My proposal for the new function call syntax is:

[code]

instead of the following current syntax:

[code]

Let's keep this issue for revising function call syntax.  I'll create separate issues for other ones in my list.

[2015-07-07 02:29] feiranwang commented on #18
Hi Ce,
ddlog treats variable tables differently from deepdive. ddlog seperates "candidate table" and "variable table". The former is more like current deepdive's variable table. The latter is just used for variables. ddlog assumes each variable table contains three things: **key**, **id**, and **label**. id and label are managed internally, so the users only need to declare the key in the schema.

[2015-07-07 02:54] feiranwang commented on #15
@netj Sounds like a good idea. I'll take a stab at it after finish testing.

[2015-07-07 05:38] netj opened #20 "syntax revision: rule annotations"
We should change the annotations to a rule to be placed before the head using a less obscure syntax similar to Java and Python, rather than keeping them after the bodies in less readable format.  For instance:

[code]

instead of the current syntax:
[code]

The parser can perhaps support the general `@NAME(ARG, ARG, ...)` format to deal with future extensions without changing the grammar every tim

[2015-07-07 05:49] netj opened #21 "syntax extension: underscore for wildcard"
Currently, unless we want to join on the columns, a unique variable name should be used for every spot in the rules.  This can reduce the readability significantly, since important variables are buried in the flood of names.
[code]

Instead, we can support a widely used wildcard `_` symbol that denotes "don't care" to mitigate this:
[code]

[2015-07-07 06:15] netj opened #22 "syntax extension: record syntax"
Record syntax can increase DDlog's expressiveness significantly.

Instead of treating all relations as unnamed ordered tuples, we can allow DDlog rules to make use of the column names that the schema declarations already have.  For instance, the current syntax:
[code]
can be rewritten as:
[code]
or by abbreviating `{x:x}` as `{x}`:
[code]
and by also using `.._` a la [Yedalog](http://research.goog

[2015-07-07 07:27] netj opened #23 "syntax extension: MLN formula head with scoping rule body"
Here's a proposal to expand the inference rule syntax that blends Tuffy's MLN + scoping rule syntax with other Datalog-style extraction rules in a natural way.

With current syntax that overloads Datalog, it's not obvious how to write rules for factors other than "IsTrue" and "Imply," e.g., "And", "Equals", etc.  Suppose we have an MLN program that looks like:
[code]
The best we can do in DDlog is

[2015-07-07 16:45] zhangce opened #24 "user defined function:"
Consider the following query:

        sentences_serialized(
	        docid,
        	sentid,
	        !array_to_string(wordidxs, "@@@@@", "*"),
	        !array_to_string(words, "@@@@@", "*"),
	        !array_to_string(poses, "@@@@@", "*"),
	        !array_to_string(ners, "@@@@@", "*"),
	        !array_to_string(lemmas, "@@@@@", "*"),
	        !array_to_string(dep_paths, "@@@@@", "*"),
	        !a

[2015-07-07 16:46] zhangce opened #25 "PG built-in Function with Constant Arg"
Consider the following query:

        sentences_serialized(
	        docid,
        	sentid,
	        !array_to_string(wordidxs, "@@@@@", "*"),
	        !array_to_string(words, "@@@@@", "*"),
	        !array_to_string(poses, "@@@@@", "*"),
	        !array_to_string(ners, "@@@@@", "*"),
	        !array_to_string(lemmas, "@@@@@", "*"),
	        !array_to_string(dep_paths, "@@@@@", "*"),
	        !a

[2015-07-07 16:47] #24 closed

[2015-07-07 18:02] zhangce commented on #18
@feiranwang Sure, but the point is that ddlog needs to throw an error when the user does it wrong, like what I did at first time.

[2015-07-07 18:39] feiranwang commented on #24
@zhangce Is this still an issue?

[2015-07-07 18:53] feiranwang commented on #25
@zhangce ddlog uses double quote for string constant. It will be compiled to sql constant. What's the compiled sql query of your example?

I tried to compile the following, and the result is correct.

[code]

The compiled result is

[code]

This can be executed in psql.

[2015-07-07 19:02] feiranwang commented on #18
@zhangce Yes, will add this to the checker and run the checker before compilation.

[2015-07-07 19:03] zhangce commented on #25
@feiranwang Sorry, my bad. the error is caused by type mismatch of integer[] when using array_to_string.

[2015-07-07 19:03] #25 closed

[2015-07-07 19:09] feiranwang commented on #25
@zhangce Good to know the problem is solved :)

[2015-07-07 22:33] zhangce opened #26 "syntax extension: aggregation"
@netj @feiranwang I'd move our discussion here. This is kind of higher priority than
other issues... we need it in all of our applications if we want to write them in a clean
way (I found this in trying to refactoring paleo to be more clean that the current runnable version).

The goal is to write GROUP BY in ddlog.

This is not a new problem for conjunctive query. I think a good syntax
can be fou

[2015-07-08 00:44] feiranwang commented on #15
Added a semantic checker in fd4369aff737e1ddf7ff456a8b11ad3fa569585c that checks the following
1. if a relation is defined
2. if a function is defined
3. if the number of columns of a relation match that in the schema
4. if variable relations use reserved columns (id, label)

The compilation will throw an exception and abort if there's an error.

[2015-07-08 00:46] feiranwang commented on #18
@zhangce Added to the semantic checker in fd4369aff737e1ddf7ff456a8b11ad3fa569585c.

[2015-07-08 00:47] #5 closed

[2015-07-08 00:47] feiranwang commented on #26
Added in dc57357885723196a9c5017ec52589cf902cbe69

[2015-07-08 06:32] feiranwang commented on #19
Added two pipelines `cleanup` (truncate all tables) and `endtoend` (extraction and inference) in b5beb82bd7b9d7755d1be3c7258ff3b0e00a8ad4.

[2015-07-09 18:39] zhangce opened #28 "aggregation"
When input is

        Q(x, y, MAX(z)) :- b(x,y,z,w).

output is

        SELECT  R0.k AS "b.R0.k" , R0.p AS "b.R0.p" , MAX(R0.q)
        FROM b R0

But when the input is

        Q(x, y, MAX(z)) :- a(x), b(x,y,z,w).

output is

            SELECT  R0.k AS "a.R0.k" , R1.p AS "b.R1.p" , MAX(R1.q)
            FROM a R0, b R1
            WHERE R1.k = R0.k
           GROUP BY R0.k, R1.p

I don't reall

[2015-07-09 18:43] feiranwang commented on #28
@zhangce Sorry, what's the bug? I didn't notice one...

[2015-07-09 18:43] netj commented on #28
@feiranwang The first one should also produce `GROUP BY`.

[2015-07-09 18:44] zhangce commented on #28
@feiranwang
          Q(x, y, MAX(z)) :- b(x,y,z,w).
should be
          SELECT  R0.k AS "b.R0.k" , R0.p AS "b.R0.p" , MAX(R0.q)
          FROM b R0
          GROUP BY r0.x R0.y

[2015-07-09 18:44] feiranwang commented on #28
I see. I'll look into it.

[2015-07-09 18:55] feiranwang commented on #28
@zhangce @netj Sorry about the bug. Fixed in f22bb145d2728a80539e45adc409ea7cefcf4a05

[2015-07-09 19:30] zhangce commented on #28
Thanks!

[2015-07-09 19:30] #28 closed

[2015-07-09 20:15] zhangce opened #29 "deadlock"
Given a rule like

        A(x text).
        B(x text).
        C(x text).

        C(x) :- B(x).
        A(x) :- C(x).
        C(x) :- A(x).

I think the code currently deadline. It is a separate discussion on whether we
should allow recursion, but at least this should throw an error during compilation
if we do not support it. @feiranwang

@netj : I don't think we need recursion right now, but I

[2015-07-09 20:29] zhangce opened #30 "Missing extractors in pipeline"
When compile this program: https://gist.github.com/zhangce/b1f5adc6d04b082cb053

I get

        deepdive.extraction.extractors.extraction_rule_38 {
          input: """ SELECT * FROM sentences_serialized
          """
          output_relation: "entity_taxon_candidate_local"
          udf: ${APP_HOME}"/udf/ext_taxon_local.py"
          style: "tsv_extractor"
          dependencies: [ "extraction_r

[2015-07-09 20:43] feiranwang opened #31 "Block comments causing stack overflow"
@netj When there's a large block of comments using `/*...*/`. Java will through an error

    Exception in thread "main" java.lang.StackOverflowError

Do you have any suggestion how to fix it?

[2015-07-09 20:56] netj commented on #31
Looks like the complex whitespace regex is causing trouble. http://stackoverflow.com/questions/7509905/java-lang-stackoverflowerror-while-using-a-regex-to-parse-big-strings

Can you create a test case that has this issue in a branch off from master? I'll take a look into this.

[2015-07-09 21:26] feiranwang commented on #30
Fixed in 7423bc6d6a9e389514d3b377753665e601a19f01

[2015-07-09 21:32] feiranwang commented on #31
Thanks! I've created a `comments_overflow` branch with `test.ddl` under the root directory.

[2015-07-09 21:33] zhangce commented on #30
Thanks!

[2015-07-09 21:33] #30 closed

[2015-07-10 00:52] netj commented on #31
I did some research and exploratory coding on this issue, but couldn't find an easy fix.  It seems we either need to extend the [`handleWhiteSpace`](https://github.com/scala/scala-parser-combinators/blob/c0cfde11e5788b3b63e9ebbb4c0e16c84d1dd416/src/main/scala/scala/util/parsing/combinator/RegexParsers.scala#L74-L81) in a complicated way, or introduce a separate lexer such as [StdLexical](https://g

[2015-07-10 01:29] zhangce opened #33 "Weight tying with string literals and extra DeepDive config"
@netj @feiranwang Sorry this is another chunk of questions :)

    - how to set sampler parameter?
    - how to set hold-out?
    - how to specify weight="NAME" (not a column) to give all factors grounded by a rule the same weight?

These might only need more documentation--sorry in advance if that is the case.

[2015-07-10 01:47] netj commented on #33
In my view, the first two should be addressed from DeepDive side.  It should provide a nice way to compile and run .ddlog programs, incorporating any extra settings from a standard location holding such as sampler, holdout stuff.  HazyResearch/deepdive#331 paves a way for DeepDive to take extra configurations into account when an app is run with the `deepdive run` command, and I think we should ex

[2015-07-10 01:51] netj commented on #29
I think recursive rules are unnecessary complexity for the moment.  We could start thinking about it when there's a compelling use case.  But until then, we should detect cycles in the rules from the SemanticChecker and reject compiling such programs.

[2015-07-10 02:25] feiranwang commented on #31
I think it's fine to drop it and just use single-line comments if there's no easy fix.

[2015-07-10 02:25] #31 closed

[2015-07-10 02:32] feiranwang commented on #33
@zhangce Currently an empty weight can be used to say that all factors from an inference rule share the same weight, like this,

[code]

[2015-07-10 06:26] #15 closed

[2015-07-10 06:26] #18 closed

[2015-07-10 06:26] #19 closed

[2015-07-10 06:26] #26 closed

[2015-07-10 06:27] #10 closed

[2015-07-10 06:28] feiranwang commented on #29
Will add check for this.

[2015-07-10 12:20] netj commented on #33
@feiranwang I think empty weight is bad.  We should support string literals there, to also tie weights across rules.

[2015-07-14 19:06] #16 closed

[2015-07-15 00:31] netj opened #35 "Support annotations on schema declarations"
To enable other tools to build on top of DDlog programs, we shall support annotations on the schema.  For example, tools such as [Mindbender Dashboard and Mindtagger](https://github.com/HazyResearch/mindbender) or [Bazaar View](https://github.com/HazyResearch/bazaar/tree/master/view) can start off of DDlog programs instead of maintaining a redundant set of their own brittle configuration.

1. [x]

[2015-07-15 00:40] netj opened #36 "syntax revision: relation schema `rows like`"
The types used in function (udf) declaration should accept two forms:

* [ ] 1. Using `rows like X` (similar to the currently only supported `like X` syntax):

[code]

* [ ] 2. Declaring the exact types of columns the function accepts and returns:

[code]

* [ ] Finally, the `like` syntax should be usable when declaring relations as well for consistency.

[code]

[2015-07-17 04:35] #35 closed

[2015-07-21 04:25] feiranwang commented on #33
Fixed in df5bc238870ba53a6a3e9782ef86e2573eb4496c

[2015-07-21 04:25] #33 closed

[2015-07-27 19:10] netj commented on #21
Done by #40

[2015-07-27 19:10] #21 closed

[2015-07-27 23:04] netj opened #41 "syntax extensions: Supervision rules in head"
Currently, DDlog uses the rule annotation syntax for mapping the supervision labels:
[code]
or once we revise the rule annotation syntax (#20) it'll look like:
[code]
However, this gives the false sense that the labels are optional, so we want to change.

Once we support MLN formulae in the inference rule heads (#23) the following style becomes natural:
[code]
However, it doesn't provide a way to

[2015-07-27 23:08] netj opened #42 "syntax revision: weights"
Once we support writing MLN formulae in heads (#23), it may make more sense to write the weights in the following way, rather than as an annotation:
[code]
This will make inference rules easily distinguishable from normal extraction rules or supervision rules.

[2015-08-06 00:34] #17 closed

[2015-08-06 04:02] netj commented on #23
Done in #43

[2015-08-06 04:02] #23 closed

[2015-08-06 04:07] netj commented on #20
This was partially done for just `@weight` and `@label` in #43.  However, we should support parsing and exporting general rule annotations into JSON as we do for schema annotations.  `ddlog export-schema` should perhaps be renamed to `ddlog export-json` or just `export`?  Coming up with the right JSON representation for the rules requires some careful design.

[2015-08-06 04:13] netj opened #44 "syntax revision: multinomial factors"
Can we come up with a better syntax for multinomial factors than the current `Multinomial(P(x), Q(x), ...)`?

[2015-08-10 08:30] netj opened #46 "include/import other files"
To be more pragmatic for real users, sharing common schema declaration, etc. will be necessary.

One easy way to implement this is with the `cpp` C/C++ macro processor and let users use something like `#include "shared.ddlog"`.  We already ignore all the `#` lines as comments so this already works in some sense.  Except the error messages will all refer to incorrect positions since the file name a

[2015-08-17 03:15] ajratner opened #50 "Add ability to specify custom pipelines?"

[2015-08-17 19:03] ajratner opened #51 "Truncate table before each individual extractor?"

[2015-08-17 19:07] netj commented on #51
I thought we were already doing this but apparently not. We should do this for correctness and to make runs idempotent.

[2015-08-28 08:30] zhangce opened #54 "Multi-thread"
We need some ways to specify #threads to use in ddlog. There are hacks to directly
change the application.conf, but that is not ideal for the user.

[2015-09-26 02:27] raphaelhoffmann opened #57 "Difficult to manage multiple extractors in one ddlog file"
Our ddlog file currently has more than 1000 lines of code (without comments) and we are still planning to add more extractors and factors.

We need modules here. Not only the ability to run different pipelines separately (as described in #50), but also the ability to put ddlog code into different files and then include these files in a main file.

[2015-09-26 02:30] chrismre commented on #57
This seems reasonable, but it may take some doing. @netj ... we probably need to think a bit about this.

[2015-09-26 15:53] netj commented on #57
Running part of a ddlog program (certain pipelines or relations) is important and both ddlog and deepdive needs to be changed to support the right granularity.  Can you share some of your use cases on how you run or would like to run the huge ddlog program piecewise?

On the other hand, #46 is related to splitting up large ddlog code.  By using the familiar `#include` directives and `cpp` (C PrePr

[2015-09-26 15:55] chrismre commented on #57
AGREED!

On Sat, Sep 26, 2015 at 8:53 AM Jaeho Shin notifications@github.com wrote:

[2015-09-28 18:41] ukliu opened #58 "DDlog installation/ test"
Hi it's me again. I was trying to run ddlog. However, when following the instruction on https://github.com/HazyResearch/ddlog, I could do "make", the message is as follows:
____________________________________________
# Compiling Scala code
sbt compile
Getting org.scala-sbt sbt 0.13.7 ...
downloading http://repo.typesafe.com/typesafe/ivy-releases/org.scala-sbt/sbt/0.13.7/jars/sbt.jar ...
	[SUCCESS

[2015-09-28 19:50] ukliu commented on #58
Also, should I put ddlog in the same folder as deepdive? Can ddlog run independently from deepdive? @netj

[2015-09-30 00:14] netj commented on #58
Hi @ukliu, you don't have to go through separate builds to use DDlog.  You can simply put all DDlog rules in a file named `app.ddlog` next to your deepdive.conf, and use `deepdive run` command to execute it.  Please take a look at [our DDlog example](https://github.com/HazyResearch/deepdive/tree/master/examples/spouse_example/postgres/ddlog) and [documentation on using DDlog](http://deepdive.stanf

[2015-10-01 21:25] ukliu commented on #58
@netj Thanks a lot! The following question is, in the tutorial example, "deepdive initdb/run" is called to perform the .py functions. If app.ddlog is used, I need to compile app.ddlog by "java -jar ddlog.jar compile app.ddlog > deepdive.conf", generate a new deepdive.conf and then run "deepdive initdb/run", is that correct? Or everything can be done without calling deepdive?

[2015-10-01 21:29] netj commented on #58
@ukliu Everything can be done with just `deepdive initdb/run` commands.  `deepdive` takes care of compiling `app.ddlog`.  The compiled `deepdive.conf` will be kept under `run/LATEST/deepdive.conf` for reference.

[2015-10-02 20:29] ukliu commented on #58
@netj Thanks! I tried to run "deepdive initdb" this time, but it says the tables are missing (as the following error message). Do I need to generate an "articles" table manually?

NOTICE:  table "articles" does not exist, skipping
DROP TABLE
CREATE TABLE
NOTICE:  table "people_mentions" does not exist, skipping
DROP TABLE
CREATE TABLE
NOTICE:  table "has_spouse_features" does not exist, skipping
D

[2015-10-02 21:02] ukliu commented on #58
@netj no worries I got this:

NOTICE:  table "articles" does not exist, skipping

DROP TABLE

CREATE TABLE

NOTICE:  table "people_mentions" does not exist, skipping

DROP TABLE

CREATE TABLE

NOTICE:  table "has_spouse_features" does not exist, skipping

DROP TABLE

CREATE TABLE

NOTICE:  table "has_spouse" does not exist, skipping

DROP TABLE

CREATE TABLE

NOTICE:  table "has_spouse_candidates"

[2015-10-02 21:34] ukliu commented on #58
@netj Sorry to keep bothering you. I encountered another problem when using
ddlog to go through the tutorial example. Here is what I did, 1) I copied
everything in the folder "data" on
https://github.com/HazyResearch/deepdive/tree/master/examples/spouse_example,
pasted them into postgres/ddlog/input. 2) then I run deepdive initdb, got
the message in my previous post. 3) then I run deepdive run, an

[2015-10-02 21:40] netj commented on #58
The database schema used by ddlog is in fact slightly different.  Try this:

[code]

[2015-10-03 01:26] ukliu commented on #58
@netj Thanks, I did not realize the file name changed from has_spouse in
original deepdive to has_spouse_candidate ddlog deepdive. I ran deepdive
sql "SELECT is_true, COUNT(*) FROM has_spouse_candidates GROUP BY is_true"
and got

 is_true | count

---------+--------

[code]

 t       |  11913

 f       | 104035
(3 rows)

The ddlog result is significantly larger than the result from deepdive
withou

[2015-10-06 16:29] ukliu commented on #58
Hi @netj, it is me again. Finally I found that the input data are different between the ddlog example and the tutorial example and that is why I got different results. Now I started to write some simple ddlog scripts by myself. My first trial is to perform some simple SQL-like tasks.

Here is my app.ddlog file:

---

[code]

---

What I am trying to do is to extract some data from 'MnSource' (it's

[2015-10-06 18:13] netj commented on #58
Hi @ukliu, sorry for the discrepancies in the example data that confused you.  We'll get that ironed out.

It seems you did not hook up the csv file with the command in `init.sh` as follows:

[code]

The command for `Mn2` after that seems unnecessary as that is being populated by `app.ddlog`.

[2015-10-07 02:54] ukliu commented on #58
Thanks @netj ! I added that line to init.sh. The deepdive initdb is running well. However, when I ran "deepdive run", it does not stop but keeps saying:
............................

[code]

.................
There is nothing wrong with the python file since I tested on an existing cvs file using python IDE. I am wondering, is there something wrong with the init.sh, or is it because I deleted the

[2015-10-20 17:48] xiaoling opened #62 ""create view" support"
Is it possible to create a view instead of a table in ddlog?

In my settings, an extractor needs document-level features. So I created a document table, which basically groups sentences from the sentence table. Unfortunately, the sentence table is ~200g large. In fact, all I need is just a view, which can save a lot of space here.

[2015-10-20 18:14] netj commented on #62
If you omit the schema declaration, and only have the rule for grouping them, you'll get a view.  This should be documented clearly.

[2015-10-20 18:41] xiaoling commented on #62
Thanks! A quick test confirms that it works.

[2015-10-20 21:06] #62 closed

[2015-12-08 23:18] ThomasPalomares opened #67 "syntax: union query (and not only union all)"
It seems that only "union all" can be made currently in ddlog. For instance, the queries
table(...) *:- table1(...); table2(...). and the query table(...) *:- table1(...). table(...) *:- table2(...).
are both compiled into "INSERT INTO table SELECT DISTINCT ... from table1 UNION ALL SELECT DISTINCT ... from table2;"
and not into an union.

It would be useful to have a way to write an "union" an no

[2016-01-05 01:27] netj opened #68 "Correctly compile multiple function call rules defining the same head"
They should be compiled with an extra extractor taking UNION of each rule's output.

See [comments regarding the `+=` syntax in HazyResearch/deepdive#445](https://github.com/HazyResearch/deepdive/pull/445#discussion_r48086227).

[2016-01-05 01:29] netj commented on #54
Given that these operational stuffs are now offloaded to deepdive by HazyResearch/deepdive#445, I think this is no longer relevant to ddlog.

[2016-01-05 01:29] #54 closed

[2016-01-05 01:29] netj commented on #50
Given that these operational stuffs are now offloaded to deepdive by HazyResearch/deepdive#445, I think this is no longer relevant to ddlog.

[2016-01-05 01:29] #50 closed

[2016-01-08 01:30] ThomasPalomares opened #69 "not possible anymore to create views that are called by another extractor (error in deepdive compile)"
It seems now it's not possible anymore to create views that are called by another extractor. For instance, if I want to run an extractor from the element of a table and the unique element of another table, I used to run:

data1( x text).
data2( y text).
data3(x text, y text).

view1(x) *:- data1(x).
data3 (x, y) :- view1(x), data2(y).

Now there is an error while running deepdive compile:
jq: erro

[2016-01-08 01:32] ThomasPalomares commented on #69
@netj suggestion to add in deepdive.conf:
deepdive.schema.relations {
 view1 { "type": "view" }
}

solves this issue, even if it's not the most convenient...

[2016-01-22 13:02] netj opened #71 "DDlog parser needs a rewrite using a faster parser combinator library"
I first thought it was a JVM booting latency issue and optimized that a bit, but didn't help much (1-2 seconds saving after first launch).  I just did a dumb profiling, and it shows the parser is unreasonably slow, taking more than 99% of the time (10.70s/10.75s and 11.37s/11.48s), and unfortunately done twice from deepdive's compiler.

[code]

The ddlog code is not ridiculously large, ~1411 lines

[2016-01-22 13:05] netj commented on #71
@feiranwang Do you have free cycles to take a crack at this asap?  @HazyResearch/genomics guys are heavily affected by this.

[2016-01-22 13:05] chrismre commented on #71
yikes... this is insane. We need to fix this asap...

[2016-01-22 15:18] Colossus commented on #71
Sry might this be because of a bloated run/ directory? One thing I noticed is that on "old" dd directories, the run can take ages, but if I clone the thing and compile, it's fast enough for normal operation by far

[2016-01-22 17:45] Colossus commented on #71
Whoever is interesting in profiling should go on raiders7 and copy one of my dd-genomics directories /lfs/raiders7/0/jbirgmei/dd-genomics2 and try around there

[2016-01-22 19:24] feiranwang commented on #71
Looking into this. Parsing this file takes ~8s locally. I'll check out FastParse.

[2016-01-22 19:28] Colossus commented on #71
I'm almost sure this is not an issue with the parser itself. There is no way to write an ANTLR grammar that translates to something that slow

[2016-01-22 20:15] zifeishan opened #72 "ddlog introducing unnecessary grounding complexity?"
ddlog requires creating a new variable table and join it with other tables every time, thus introducing unnecessary complexity in grounding. Here are some query examples:

In these examples, `locations_el` is the original variable table, `link` is the variable table compiled by ddlog.

### Factor: "two locations mentioned in a same doc mapped to near locations"

Query compiled by ddlog:

[code]

I

[2016-01-22 20:42] chrismre commented on #72
No! We should fix this =)

On Fri, Jan 22, 2016 at 12:15 PM Zifei Shan notifications@github.com
wrote:

[2016-01-22 20:46] netj commented on #71
The combinators don't produce the more traditional LR or LALR parser but just give a recursive descendent parser, hence the slowness is very plausible.

[2016-01-22 22:11] netj commented on #72
We should certainly fix the compiler to get rid of this inefficiency.  It seems all that needs to be done is to remove the joins with the variable tables, right?  Earlier, we had related design questions over mapping DDlog language constructs to the variable tables, scoping rules, supervision rules, and inference rules that give rise to factors in DeepDive.  The decisions we made then is probably

[2016-01-25 19:14] ajratner opened #74 "Function input types not checked?"

[2016-01-26 00:07] #69 closed

[2016-01-27 02:50] feiranwang commented on #71
I rewrote the parser using [parboiled2](https://github.com/sirthias/parboiled2), and tried on the genomics. It takes about ~400ms to parse the app.ddlog, compared to ~8s using scala parser combinator.

[2016-01-27 02:51] netj commented on #71
@feiranwang You can probably also plug a bit about what happened when the input was repeated 10x?

[2016-01-27 03:14] feiranwang commented on #71
When the input was repeated for 10 times, the new parser finished in ~1s, but the scala parser combinator took more than 5min...

[2016-01-30 01:20] netj commented on #58
Most bits in this issue rather belongs to deepdive not ddlog.

[2016-01-30 01:20] #58 closed

[2016-01-30 01:21] netj commented on #46
This will fix #57

[2016-01-30 01:24] netj commented on #51
This was taken care by HazyResearch/deepdive#445 for UDFs and recently by #70 for SQL

[2016-01-30 01:24] #51 closed

[2016-02-01 09:49] #68 closed

[2016-02-02 18:28] netj opened #79 "Turn all warnings into errors so we catch them at build time"
Some important warnings should fail the build, such as non-exaustive pattern matching, motivated by #77.

[2016-02-16 19:49] Colossus opened #82 "If table defined first as view, then table, view isn't dropped"
In ddlog, if you don't specify a table layout, arbitrary queries are being set up as views. If you later decide to "materialize" the view by writing a table definition in DDLog and recompiling, you get an error:

2016-02-16 11:47:16.529170 ERROR:  "genepheno_factor" is not a base table
2016-02-16 11:47:16.529280 HINT:  Use DROP VIEW to remove a view.

workaround: drop view manually, then proceed

[2016-02-16 19:52] netj commented on #82
Thanks for reporting.  We'll clean this up pretty soon.  @ThomasPalomares and I were discussing the idea of using a rule annotation such as `@materialize` to decide whether a head becomes a table or view, and keep everything by default as views.  (Function call output must be materialized anyway though.)

[2016-02-18 03:03] Colossus opened #83 "Cannot combine array indexing with minus"
Just tried writing a query like `blah(wordidxs[1] - 3) :- ....` , but cannot combine `-` with array indexing

[2016-02-18 03:03] Colossus commented on #83
Workaround: create intermediate tables

[2016-02-18 03:22] netj commented on #83
@feiranwang I think we did arbitrary expression here but maybe this is a parse error?

[2016-02-18 03:24] feiranwang commented on #83
Yes, this looks like a parse error. I'm looking into it.

[2016-03-10 00:45] xiaoling opened #85 "table schema not checked in ddlog compilation"
I have a ddlog file shown below. Note that the last reference to the nlp table has the wrong schema. When the ddlog file is compiled, there was no error reported.

[code]

[2016-03-16 04:57] thodrek opened #86 "Inference rule overwrite"
Inference rules have the same pipeline name after compilation, thus, only the second one is executed.

@weight(f) has_relation(per_id, org_id, rel) :- ....
@weight(f) ! has_relation(per_id, org_id, rel) :- ....

[2016-03-16 05:07] chrismre commented on #86
YIKES! This is a major issue...

On Tue, Mar 15, 2016 at 9:57 PM thodrek notifications@github.com wrote:

[2016-03-17 20:58] zifeishan opened #88 "Add end-to-end integration tests from ddlog to deepdive execution"
Recently a change in ddlog breaks the compiled path of `udf`(by using relative paths instead of absolute paths), and we ran into errors when we run end-to-end applications (udf not found). It seems that we don't have good end-to-end coverage for ddlog applications.

We probably want to have tests running example applications from ddlog compilation to deepdive execution, to make sure everything wor

[2016-03-17 21:15] netj commented on #88
Could you link to the exact change in the future?  You're probably talking about [this change](https://github.com/HazyResearch/ddlog/commit/2edca9dbc3b35e1d2fa5b818443602e44dc51236#diff-621e5ce9dfd5239b08a00779e60b9990R462), right?  That is supposed to run with HazyResearch/deepdive@bebd95665b6292fbf35b9a144ef17eecd6326ee4 which hasn't been merged into DeepDive's master yet.  Things will get sorte

[2016-03-18 20:15] netj commented on #88
@zifeishan I created a [v0.8.x branch in ddlog](https://github.com/HazyResearch/ddlog/tree/v0.8.x) which contains just the bugfix.  deepdive master/v0.8.x will be updated to use this soon.  Please use this instead of master :)

[2016-03-18 20:15] #88 closed

[2016-03-19 03:44] #86 closed

[2016-03-25 00:46] alldefector commented on #46
This seems like a great solution. The "shared.ddlog" is one use case -- an exploding star topology. Another use case is an imploding star -- a master app combining children apps.

Can we incorporate such `cpp` expansion into DD?

[2016-03-25 00:52] netj commented on #46
Yes, we can add a step to DD compiler to run `cpp` right before `ddlog compile` and it'll just work, but the file/line numbers in the error messages will be out of sync.  Fixing the parser to pick up those lines required a deeper understanding of Scala's parser combinators, so I was stuck there.  However, nothing prevents the `cpp` step to be done before/outside `deepdive compile`, so it's already

[2016-03-25 00:55] alldefector commented on #46
It'd be easier if DD does the expansion behind the scene... How about generating an expanded ddlog file so the line numbers make sense at least for this file?

Also, hopefully we don't have to introduce `ifndef` etc. to avoid issues like repeated inclusion... Maybe the compiler could do the `ifndef` wrapping automatically?

[2016-03-25 01:10] netj commented on #46
If we support `cpp` output, I think we shouldn't try to improve anything.  For smarter things, I prefer doing a proper module support in the language itself.  @chrismre also thinks Julia/nodejs-style everything-nested-under-some-local-name module system would be ideal.  Mapping such nested module namespaces to the database table names and the `input/` and `run/process/` filename conventions will b

[2016-03-25 01:28] alldefector commented on #46
OK, we'll just use external `cpp` for now.

[2016-04-11 04:59] xiao-cheng opened #89 "Nullary functions not accepted by parser"
Currently SQL functions such as random() that has zero arguments are not accepted using deepdive compile.

Here is Jaeho's note:

https://github.com/HazyResearch/ddlog/blob/master/src/main/scala/org/deepdive/ddlog/DeepDiveLogParser.scala#L240

[2016-04-11 05:27] xiao-cheng opened #90 ">= and <= comparator not working"
[code]
I fixed it by changing the condition to `link_id > -1`. It then compiled and ran fine. I think there might be a bug with the inequality operator

[2016-04-19 19:27] xiaoling opened #91 "ddlog is case-sensitive to aggregate functions"
`deepdive compile` yields
`deepdive create view s as 'SELECT R0.a AS column_0, array_agg(R0.b) AS column_1
FROM t R0'` in `run/process/ext_s/run.sh`. Note that the column `a` is not in a group-by clause.

The correct sql is generated only if the function name is in upper case.

`deepdive compile` yields
`deepdive create view s as 'SELECT R0.a AS column_0, ARRAY_AGG(R0.b) AS column_1
FROM t R0    G

[2016-06-17 06:20] alldefector opened #94 "@materialize not working on schema; maybe materialize by default?"
(At least in the dynamic multinomial branch) the spouse example can barely finish because the grounding SQL of a binary factor is on top of a double-self-join where each base relation is a multi-way join view itself. Adding `@materialize` on the schema declarations doesn't seem to work, but annotating the rules would make spouse runnable again. Maybe we want to materialize by default? Or if we wan

[2016-06-17 07:02] alldefector commented on #91
Fixed in dynamic-scope-multinomial

[2016-06-17 07:02] #91 closed

[2016-06-18 04:37] alldefector commented on #44
That's now superseded by the plain AND list of categorical vars, right? `Multinomial` should die now imo...

[2016-06-18 04:38] netj commented on #44
Right.

[2016-06-18 04:39] #44 closed

[2016-06-18 04:58] alldefector commented on #90
Fixed in dynamic scope branch, which will be merged to master soon.

[2016-06-18 04:58] #90 closed

[2016-06-18 05:37] #72 closed

[2016-06-18 05:42] netj commented on #20
Closed via 8cea0a1adf8421608ba91a72fe24de6d393273f0, which allows arbitrary annotations on all rules (or statements).

[2016-06-18 05:42] #20 closed

[2016-06-24 02:53] xiaoling opened #100 "Unsupported factor over categorical variables: Imply()"
It seems to depend on if all the args of the inference variable are declared as `@key`.

For instance, the following `app.ddlog` doesn't compile.

[code]

If the first line is changed to `x?(@key w text, @key y text, @key z text).` or `x?(w text, y text, z text).`, the ddlog will compile. Is this desired? @alldefector @netj

[2016-06-24 03:06] alldefector commented on #100
Categorical vars currently only support the AND factor. It won't be very hard to extend to support IMPLY, but I don't quite understand the example rule here -- mainly the `_`s in the rule head. What's the idea in words?

[2016-06-24 05:27] alldefector opened #101 "Positional relation args syntax is cumbersome for wide relations"
Consider this rule
[code]

It's a very common pattern, and one can easily mismatch the args against the schema (especially as we alter the relation schema over time). Maybe there is a more robust syntax alternative? E.g., maybe there is something we could borrow from languages like http://docs.datomic.com/query.html

[2016-06-24 08:05] netj commented on #101
See #22.  Datomic seems interesting.  Let's try to get inspired by their language too.

[2016-06-24 08:05] #101 closed

[2016-06-24 08:33] xiaoling commented on #100
The rule encodes transitivity. The `_`s are really placeholders so that I can show that when `w` is not annotated as key, ddlog doesn't compile. I can probably use that `p => q` is equivalent to `!(p ^ !q)` to translate the original rule to

[code]

[2016-06-24 16:09] alldefector commented on #100
I see. There are a few issues:
1. The inference rule won't expand the scope of `x`, so you'd have to handle the transitive closure computation in other rules or outside of ddlog.
2. It's not clear what `x(_, y, z)` means in the rule head as instantiating the y and z values doesn't make it a evaluable to true / false. You'd need at least something like `x("YES", y, z)`. (Though there may be a bug i

[2016-06-24 22:19] xiaoling commented on #100
Sorry for the confusion on the placeholder. I put `_` there to avoid unnecessary variables but it turned out to cause problems. In fact, I do have those variables present instead of placeholders. For instance,

[code]

I will probably just add a key annotation to every variable here.

[2016-06-24 22:19] #100 closed

[2016-07-12 04:46] alldefector opened #103 "Compiler ignores constants in head atoms of an inference rule"
This rule
[code]
is compiled as if it's
[code]

[2016-07-12 05:46] netj commented on #103
This is pretty nasty.. can the following be a workaround?

[code]

[2016-07-12 05:48] alldefector commented on #103
Yes, that works.

[2016-07-19 05:45] #41 closed

[2016-07-19 05:47] #42 closed